{% extends 'base.html.twig' %}

{% block content %}

<div class="center-page">

    <div class="card form-card">

        <div class="header-form">
            <h1>✏️ Edit Category</h1>

            <a href="{{ path('category_list') }}" class="btn" style="background:#636e72;">
                ⬅ Retour
            </a>
        </div>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>

        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
        </div>

        <div class="form-group">
            {{ form_label(form.priorite) }}
            {{ form_widget(form.priorite) }}
        </div>

        
     

        {{ form_end(form) }}

    </div>

</div>

{% endblock %}