{% extends 'base.html.twig' %}

{% block content %}

<div style="padding:40px">

    <!-- ===== ADD CATEGORY ===== -->
    <div style="display:flex; justify-content:space-between; align-items:center;">
    <h1>Add Category</h1>

    <a href="{{ path('transactions') }}" class="btn" style="background:#636e72;">
        ⬅ Retour
    </a>
</div>
    {{ form_start(form) }}

    <div style="margin-bottom:10px">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>

    <div style="margin-bottom:10px">
        {{ form_label(form.type) }}
        {{ form_widget(form.type) }}
    </div>

    <div style="margin-bottom:10px">
        {{ form_label(form.priorite) }}
        {{ form_widget(form.priorite) }}
    </div>


    {{ form_end(form) }}

    <hr style="margin:40px 0">

    <!-- ===== LIST ===== -->
    <h1>Categories</h1>

    <table class="table">
        <thead style="background: linear-gradient(90deg,#6c5ce7,#a29bfe); color:white;">
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
{% for c in categories %}
    <tr>
        <td>{{ c.nom }}</td>
        <td>{{ c.type }}</td>
        <td>{{ c.priorite }}</td>
        <td>
            <a href="{{ path('category_edit', {'id': c.id}) }}">✏️</a>
            <a href="{{ path('category_delete', {'id': c.id}) }}">🗑️</a>
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="4">No categories found</td>
    </tr>
{% endfor %}
</tbody>
    </table>

</div>

{% endblock %}