{% extends 'base.html.twig' %}

{% block content %}

<div class="page">

    <div class="card">

        <div class="header-form">
            <h2>Categories</h2>

            <a href="{{ path('category_add') }}" class="btn">
                ➕ Add Category
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Priority</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            {% for c in categories %}
                <tr>
                    <td>{{ c.nom }}</td>
                    <td>{{ c.type }}</td>
                    <td>{{ c.priorite }}</td>
                    <td>
                        <a href="{{ path('category_edit', {'id': c.id}) }}" class="btn">✏️</a>
                        <a href="{{ path('category_delete', {'id': c.id}) }}" class="btn delete">🗑️</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No categories found</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <div class="pagination">
    {{ knp_pagination_render(categories) }}
</div>

    </div>

</div>

{% endblock %}