<h1 style="
    text-align:center;
    margin-bottom:25px;
    color:#1e3a8a;
    font-size:26px;
    letter-spacing:1px;
">
     ADMIN REPORT
</h1>

<h2 style="
    margin-bottom:12px;
    color:#0f172a;
    font-size:18px;
">
    Users Overview
</h2>

<table style="
    width:100%;
    border-collapse:separate;
    border-spacing:0;
    font-family:Arial;
    overflow:hidden;
    border-radius:12px;
">

    <thead>
        <tr style="
            background:linear-gradient(135deg,#4f46e5,#7c3aed);
            color:white;
        ">
            <th style="padding:12px;">Name</th>
            <th style="padding:12px;">Balance</th>
            <th style="padding:12px;">Income</th>
            <th style="padding:12px;">Outcome</th>
            <th style="padding:12px;">Transactions</th>
        </tr>
    </thead>

    <tbody>
    {% for u in users %}
        <tr style="
            background:{{ loop.index is even ? '#f8faff' : '#ffffff' }};
        ">
            
            <td style="padding:10px; color:#0f172a;">
                {{ u.name }}
            </td>

            <td style="padding:10px; text-align:center;">
                <strong style="color:#111827;">
                    {{ u.balance }} DT
                </strong>
            </td>

            <td style="
                padding:10px;
                text-align:center;
                color:#4f46e5;
                font-weight:600;
            ">
                +{{ u.income }}
            </td>

            <td style="
                padding:10px;
                text-align:center;
                color:#64748b;
                font-weight:600;
            ">
                -{{ u.outcome }}
            </td>

            <td style="
                padding:10px;
                text-align:center;
                color:#475569;
            ">
                {{ u.count }}
            </td>

        </tr>
       
    
    {% endfor %}
    </tbody>

</table>