{% extends 'base.html.twig' %}

{% block title %}Investment index{% endblock %}

{% block body %}
    <h1>Investment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>InvestmentId</th>
                <th>Name</th>
                <th>Category</th>
                <th>Location</th>
                <th>EstimatedValue</th>
                <th>RiskLevel</th>
                <th>ImageUrl</th>
                <th>Description</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr>
                <td>{{ investment.investmentId }}</td>
                <td>{{ investment.name }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.location }}</td>
                <td>{{ investment.estimatedValue }}</td>
                <td>{{ investment.riskLevel }}</td>
                <td>{{ investment.imageUrl }}</td>
                <td>{{ investment.description }}</td>
                <td>{{ investment.status }}</td>
                <td>{{ investment.createdAt ? investment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_investment_show', {'investmentId': investment.investmentId}) }}">show</a>
                    <a href="{{ path('app_investment_edit', {'investmentId': investment.investmentId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_investment_new') }}">Create new</a>
{% endblock %}
