{% extends 'base.html.twig' %}

{% block title %}Create Investment Management{% endblock %}

{% block body %}

<div class="container mt-5">

    <div class="card shadow p-4" style="max-width:700px; margin:auto; border-radius:15px;">

        <h3 class="mb-4 text-center">Create Investment Management</h3>

        {{ form_start(form) }}

        <!-- INVESTMENT -->
        <div class="mb-3">
            {{ form_label(form.investment) }}
            {{ form_widget(form.investment, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">
                {{ form_errors(form.investment) }}
            </div>
        </div>

        <!-- TYPE -->
        <div class="mb-3">
            {{ form_label(form.investmentType) }}
            {{ form_widget(form.investmentType, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">
                {{ form_errors(form.investmentType) }}
            </div>
        </div>

        <!-- AMOUNT -->
        <div class="mb-3">
            {{ form_label(form.amountInvested) }}
            {{ form_widget(form.amountInvested, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">
                {{ form_errors(form.amountInvested) }}
            </div>
        </div>

        <!-- PERCENTAGE -->
        <div class="mb-3">
            {{ form_label(form.ownershipPercentage) }}
            {{ form_widget(form.ownershipPercentage, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">
                {{ form_errors(form.ownershipPercentage) }}
            </div>
        </div>

        <!-- DATE -->
        <div class="mb-3">
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">
                {{ form_errors(form.startDate) }}
            </div>
        </div>

        <!-- BUTTONS -->
        <div class="d-flex justify-content-between mt-4">

            <button class="btn btn-success">
                Save
            </button>

            <a href="{{ path('app_management_index') }}"
               class="btn btn-secondary">
               Back to list
            </a>

        </div>

        {{ form_end(form) }}

    </div>

</div>

{% endblock %}