{% extends 'base.html.twig' %}

{% block title %}Edit Transaction{% endblock %}

{% block content %}

<div class="center-page">

    <div class="card form-card">

        <div class="header-form">
            <h1> Edit Transaction</h1>

            <a href="{{ path('transactions') }}" class="btn" style="background:#636e72;">
                ⬅ Retour
            </a>
        </div>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

       <div class="form-group">
    <div class="label-row">
        {{ form_label(form.nomTransaction) }}
        {{ form_errors(form.nomTransaction) }}
    </div>

    {{ form_widget(form.nomTransaction) }}
</div>

      <div class="form-group">
    <div class="label-row">
        {{ form_label(form.montant) }}
        {{ form_errors(form.montant) }}
    </div>

    {{ form_widget(form.montant) }}
</div>

       <div class="form-group">
    <div class="label-row">
        {{ form_label(form.dateTransaction) }}
        {{ form_errors(form.dateTransaction) }}
    </div>

    {{ form_widget(form.dateTransaction) }}
</div>

        
        {{ form_end(form) }}

    </div>

</div>

{% endblock %}