{% extends 'base.html.twig' %}

{% block content %}

<div class="page">

    <div class="card">

        <div class="header-form">
            <h2>Transactions</h2>

            <a href="{{ path('transaction_add') }}" class="btn">
                ➕ Add Transaction
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Montant</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
            {% for t in transactions %}
                <tr>
                    <td>{{ t.nomTransaction }}</td>

                    <td>
                        <span class="badge {{ t.type == 'INCOME' ? 'income' : 'outcome' }}">
                            {{ t.type }}
                        </span>
                    </td>

                    <td>
                        <span class="badge {{ t.montant > 0 ? 'income' : 'outcome' }}">
                            {{ t.montant }} DT
                        </span>
                    </td>

                    <td>{{ t.category ? t.category.nom : 'No category' }}</td>

                    <td>{{ t.dateTransaction|date('Y-m-d') }}</td>

                    <td>
                        <a href="/edit/{{ t.id }}" class="btn">✏️</a>
                        <a href="/delete/{{ t.id }}" class="btn delete">🗑</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
       <div class="pagination">
    {{ knp_pagination_render(transactions) }}
</div>

    </div>

</div>

{% endblock %}