{% extends 'base.html.twig' %}

{% block content %}
<div class="clean-dashboard">

    <div class="clean-header">
        <h1>Dashboard</h1>

         <div class="header-actions">
        <a href="{{ path('transactions') }}" class="btn">
            + Transaction
        </a>
         <a href="{{ path('wishlist') }}" class="btn-purple">
            Wishlist
    </a>

        <div class="export-under">
            <a href="{{ path('transactions_pdf') }}" class="btn-outline">PDF</a>
            <a href="{{ path('transactions_excel') }}" class="btn-outline">Excel</a>
        </div>
    </div>
    </div>

    <div class="dash-row">

        <div class="left-side">

            <div class="clean-stats">

    <div>
        <span>Balance</span>
        <h2>{{ balance }} DT</h2>
    </div>

    <div>
        <span>Income</span>
        <h2 class="green">{{ income }} DT</h2>
    </div>

    <div>
        <span>Outcome</span>
        <h2 class="red">{{ outcome }} DT</h2>
    </div>

    <div>
        <span>Transactions</span>
        <h2>{{ transactions|length }}</h2>
    </div>

</div>
<div class="charts-row">

    <div class="chart-box">
        <h3 class="chart-title">Income</h3>
        <canvas id="incomeChart"></canvas>
    </div>

    <div class="chart-box">
        <h3 class="chart-title">Outcome</h3>
        <canvas id="outcomeChart"></canvas>
    </div>

</div>

            

        </div>

       

   <div class="charts-right">
        <div class="chart-box small-chart">
            <h3 class="center-title">RÉPARTITION</h3>
          <canvas id="pieChart" style="max-height:150px;"></canvas> 
        </div>

        <div class="chart-box small-chart">
            <h3 class="center-title">TRANSACTIONS PAR DATE</h3>
            <canvas id="dateChart"></canvas>
        </div>
    </div>

</div>

     

    </div>

</div>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const transactions = {{ transactions|json_encode|raw }};
</script>

<script>
new Chart(document.getElementById('pieChart'), {
    type: 'doughnut',
    data: {
        labels: ['Income', 'Outcome'],
        datasets: [{
            data: [{{ income }}, {{ outcome }}],
            backgroundColor: ['#1e3a8a', '#374151']
        }]
    },
    options: {
        cutout: '70%',  
        radius: '90%',
        plugins: {
            legend: { 
            position: 'bottom' ,
        labels: {
                boxWidth: 15,   // 🔥 أصغر rectangle
                boxHeight: 8,
                padding: 8,

                font: {
                    size: 10   // 🔥 تصغير الكتابة
                },

                color: '#475569' // لون نص خفيف
            }
        }
        }
    }
});

function showIncomeTransactions(label) {

    let filtered = transactions.filter(t => {
        return t.category.nom === label && t.montant > 0;
    });

    updateTable(filtered);
}

function showOutcomeTransactions(label) {

    let filtered = transactions.filter(t => {
        return t.category.nom === label && t.montant < 0;
    });

    updateTable(filtered);
}

function updateTable(data) {

    let table = document.querySelector("table tbody");
    table.innerHTML = "";

    data.forEach(t => {
        table.innerHTML += `
            <tr>
                <td>${t.nomTransaction}</td>
                <td>${t.type}</td>
                <td>${t.montant} DT</td>
                <td>${t.category.nom}</td>
                <td>${t.dateTransaction}</td>
            </tr>
        `;
    });
}
// INCOME
new Chart(document.getElementById('incomeChart'), {
    type: 'line',
    data: {
        labels: {{ incomeChartLabels|json_encode|raw }},
        datasets: [{
            data: {{ incomeChartData|json_encode|raw }},
            borderColor: '#1e3a8a',
            backgroundColor: 'transparent',
            borderWidth: 2,
            pointRadius: 2,
            tension: 0.4 
        }]
    },
    
    options: {
        plugins: { legend: { display: false } },
    onClick: function(evt, elements) {
        if (elements.length > 0) {
            let index = elements[0].index;
            let label = this.data.labels[index];

            showIncomeTransactions(label);
        }
    }
}
});


// OUTCOME
new Chart(document.getElementById('outcomeChart'), {
    type: 'line',
    data: {
        labels: {{ outcomeChartLabels|json_encode|raw }},
        datasets: [{
            data: {{ outcomeChartData|json_encode|raw }},
            borderColor: '#1e3a8a',
            backgroundColor: 'transparent',
            borderWidth: 2,
            pointRadius: 2,
            tension: 0.4
        }]
    },
    options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
        legend: { display: false }
    },
    scales: {
        x: {
            grid: { display: false },
            ticks: {
                color: '#999',
                font: { size: 11 }
            }
        },
        y: {
            grid: {
                color: '#eee'
            },
            ticks: {
                color: '#999',
                font: { size: 11 }
            }
        }
    },

    onClick: function(evt, elements) {
        if (elements.length > 0) {
            let index = elements[0].index;
            let label = this.data.labels[index];

            showOutcomeTransactions(label);
        }
    }
}
});

new Chart(document.getElementById('dateChart'), {
    type: 'bar',
    data: {
        labels: {{ chartLabels|json_encode|raw }},
        datasets: [
            {
                label: 'Income',
                data: {{ incomeData|json_encode|raw }},
                backgroundColor: '#1e3a8a'
            },
            {
                label: 'Outcome',
                data: {{ outcomeData|json_encode|raw }},
                backgroundColor: '#374151'
            }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,

        plugins: {
            legend: {
                position: 'top'
            }
        },

        scales: {
            x: {
                stacked: true,
                grid: { display: false }
            },
            y: {
                stacked: true,
                grid: { color: '#eee' }
            }
        }
    }
});
</script>
{% endblock %}

{% endblock %}