{% extends 'base.html.twig' %}

{% block content %}
<div class="clean-dashboard">

    <div class="clean-header">
        <h1>Dashboard</h1>

         <div class="header-actions">
        <a href="{{ path('transactions') }}" class="btn">
            + Transaction
        </a>

        <div class="export-under">
            <a href="{{ path('transactions_pdf') }}" class="btn-outline">PDF</a>
            <a href="{{ path('transactions_excel') }}" class="btn-outline">Excel</a>
        </div>
    </div>
    </div>

    <div class="dash-row">

        <div class="left-side">

            <div class="clean-stats">

                <div>
                    <span>Balance</span>
                    <h2>{{ balance|number_format(2, '.', ' ') }} DT</h2>
                </div>

                <div>
                    <span>Income</span>
                    <h2 class="green">{{ income|number_format(2, '.', ' ') }} DT</h2>
                </div>

                <div>
                    <span>Outcome</span>
                    <h2 class="red">{{ outcome|number_format(2, '.', ' ') }} DT</h2>
                </div>

                <div>
                    <span>Transactions</span>
                    <h2>{{ transactions|length }}</h2>
                </div>

            </div>

            

        </div>

        
        <div class="center">
            <canvas id="pieChart"></canvas>
        </div>

      <div class="right-side">

    <div class="chart-box">
        <h3 class="chart-title">Income</h3>
        <canvas id="incomeChart"></canvas>
    </div>

    <div class="chart-box">
        <h3 class="chart-title">Outcome</h3>
        <canvas id="outcomeChart"></canvas>
    </div>

    
</div>

    </div>

</div>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
new Chart(document.getElementById('pieChart'), {
    type: 'doughnut',
    data: {
        labels: ['Income', 'Outcome'],
        datasets: [{
            data: [{{ income }}, {{ outcome }}],
            backgroundColor: ['#2ecc71', '#e74c3c']
        }]
    },
    options: {
        cutout: '70%',
        plugins: {
            legend: { position: 'bottom' }
        }
    }
});
// INCOME
new Chart(document.getElementById('incomeChart'), {
    type: 'line',
    data: {
        labels: {{ incomeChartLabels|json_encode|raw }},
        datasets: [{
            data: {{ incomeChartData|json_encode|raw }},
            borderColor: '#ff6b00',
            backgroundColor: 'transparent',
            borderWidth: 3,
            pointRadius: 5
        }]
    },
    options: {
        plugins: { legend: { display: false } }
    }
});


// OUTCOME
new Chart(document.getElementById('outcomeChart'), {
    type: 'line',
    data: {
        labels: {{ outcomeChartLabels|json_encode|raw }},
        datasets: [{
            data: {{ outcomeChartData|json_encode|raw }},
            borderColor: '#ff6b00',
            backgroundColor: 'transparent',
            borderWidth: 3,
            pointRadius: 5
        }]
    },
    options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
        legend: { display: false }
    },
    scales: {
        x: {
            grid: { display: false },
            ticks: {
                color: '#999',
                font: { size: 11 }
            }
        },
        y: {
            grid: {
                color: '#eee'
            },
            ticks: {
                color: '#999',
                font: { size: 11 }
            }
        }
    }
}
});
</script>
{% endblock %}

{% endblock %}